
{% for mon in monster.query.all() %}
<table class="table table-hover">
    <tr>
        <td width="256px">
            <img src="{{url_for('static', filename= mon.name.replace(' ', '_') + '.png')}}" width=50% height=auto class="img-thumbnail">
        </td>
       
        <td>
            <div>
                <h3><a href="{{ url_for('monster', monstername=  mon.name) }}">{{ mon.name}}</a></h3>
                <p>{{ mon.phylum.category}}</p>
            </div>
        </td>
    </tr>
</table>
{% endfor %}
