{% extends "base.html" %}


{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            {% if phylum is not iterable and not phylum.monster %}
                <a class="nav-link" href="{{ url_for('grouping') }}"><h4>Return to Class Page</h4></a>
            {% else %}
                <a class="nav-link"><h4>Monster Classes</h4></a>
            {% endif %}
        </div>        

        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Classes</a>
                <div class="dropdown-menu">
                    {# When like is 1st clicked, Phylum is iterable #}
                    {% if phylum is iterable %}
                        {% for c in phylum %}
                            <a class="dropdown-item" href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a>
                        {% endfor %}
                    {% endif %}
    
                    {# Check whether Phylum.monster exists #}
                    {% if phylum.monster %}
                        {% for c in phylum.query.all() %}
                            <a class="dropdown-item" href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>

        
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Species</a>
                <div class="dropdown-menu">
                    {# When like is 1st clicked, Subgroup is iterable #}
                    {% if subgroup is iterable %}
                        {% for x in subgroup %}
                            <a class="dropdown-item" href="{{ url_for('monster_species', typename= x.division) }}">{{ x.division }}</a>
                        {% endfor %}
                    {% endif %}
    
                    {# Check whether Subgroup.monster exists #}
                    {% if subgroup.monster %}
                        {% for x in subgroup.query.all() %}
                           <a class="dropdown-item" href="{{ url_for('monster_species', typename= x.division) }}">{{ x.division }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>

    </nav>
{% endblock %}




    


