{% extends "base.html" %}


{% block content %}
    <div class="container-fluid">
        {% if phylum is not iterable and not phylum.monster %}
            <h2 class="text-center">None added as of yet</h2>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <a href="{{ url_for('grouping') }}"> 
                        <h3 class="text-center">Return to Class Page</h3>
                    </a>
                </div>
        {% else %}
            <h2>Monster Classes</h2>
        {% endif %}
    </div>

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            {# When like is 1st clicked, Phylum is iterable#}
            {% if phylum is iterable %}
                {% for c in phylum %}
                <option value= "{{c.category}}" SELECTED>{{c.category}}</option>"

                <li role="presentation" {% if request.endpoint == c.category %}  class="active"{% endif %}>
                    <a href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a>

                </li>
                {% endfor %}
            {% endif %}
    
            {# Check whether Phylum.monster exists#}
            {% if phylum.monster %}
                {% for c in phylum.query.all() %}
                <li role="presentation" {% if request.endpoint == c.category %}  class="active"{% endif %}>
                    <a href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    {% block admin_content %}
        <ul class="nav nav-tabs">
            {% for group in subgroup %}
            <li role="presentation" {% if request.endpoint == group.division %}  class="active"{% endif %}>
                <a href="{{ url_for('monster_class', typename= group.division) }}">{{ group.division }}</a>
            </li>
            {% endfor %}
        </ul>

        {% if subgroup is not iterable %}
            <p>subgroup is not iterable</p>
        {% endif %}

        {% if subgroup.monster is undefined %}

            {% if not subgroup.monster %}
            <p>subgroup.monster not exist</p>
            {% else %}
                <p>subgroup.monster exist</p>
            {% endif %}
            
            <h2>Monster Subgroups</h2>

            <ul class="nav nav-tabs">
                {# When like is 1st clicked, subgroup is iterable#}
                {% if subgroup is iterable %}
                    {% for group in subgroup %}
                    <li role="presentation" {% if request.endpoint == group.division %}  class="active"{% endif %}>
                        <a href="{{ url_for('monster_class', typename= group.division) }}">{{ group.division }}</a>
                    </li>
                    {% endfor %}
                {% endif %}

                {# Check whether subgroup.monster exists#}
                {% if subgroup.monster %}
                    {% for group in subgroup.query.all() %}
                    <li role="presentation" {% if request.endpoint == group.division %}  class="active"{% endif %}>
                        <a href="{{ url_for('monster_class', typename= group.division) }}">{{ group.division}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}
    {% endblock admin_content %}
{% endblock %}




    


