{% extends "base.html" %}


{% block content %}
    <h1>Monster Classes</h1>

    <ul class="nav nav-tabs">
        
        {% if not phylum.monster %}
            {% return %}
        {% endif %}

        
        {% if phylum.monster %}
            {% for c in phylum.query.all() %}
            <li role="presentation" {% if request.endpoint == c.category %}  class="active"{% endif %}>
                <a href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a></li>
            {% endfor %}
            <p>True</p>
        {% else %}
            {% if phylum is not iterable %}
                {% include '404.html' %}       
            {% else %}
            
                {% for c in phylum %}
                <li role="presentation" {% if request.endpoint == c.category %}  class="active"{% endif %}>
                    <a href="{{ url_for('monster_class', typename= c.category) }}">{{ c.category }}</a>
                </li>
                {% endfor %}
                <p>False</p>
            {% endif %}

        {% endif %}

    </ul>



    <h2>Monster Subgroups</h2>
    <ul class="nav nav-tabs">
        {% for group in subgroup %}
        <li role="presentation" {% if request.endpoint == group.division %}  class="active"{% endif %}>
            <a href="{{ url_for('monster_class', typename= group.division) }}">{{ group.division }}</a>
        </li>
        {% endfor %}
    </ul>


{% endblock %}
