{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Monster List</h1>

    {% for mon in monsters %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img src="{{url_for('static', filename='Glavenus_2.png')}}">
            </td>
            <td>
                <div>
                    <p>{{ mon.name}}</p>
                    <p>{{ mon.phylum.category}}</p>

                    <p>{{ mon.familia.count() }} Familia (flowers), 
                        {{ mon.relative.count() }} Relative (following).</p>

                    <p>Related Monsters are: </p>
                    {% for x in mon.familia.all() %}
                    <p>{{ x.name }}</p>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    
{% endblock %}

