{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img src="/static/icon_monsters/{{monster.name.replace(' ', '_') + '.png'}}" width=100% height=auto>
            </td>
            <td>
                <h1>{{ monster.name }}
                    <br>
                    <small> Class: {{monster.phylum.category}}</small>
                    <br>
                    {% if monster.variation != 1 %}
                    <small>{{monster.subgroup.division}}</small>
                    {% endif %}
                </h1>
                
                <h4>Ailments:
                    <small class="text-warning">
                        <br>{{monster.ailments.status}}
                        <br>{{monster.ailments.blight}}
                        <br>{{monster.ailments.natural}}
                    </small>
                </h4>
            </td>
        </tr>
    </table>
    

    <h3>Summary</h3>
    {% if monster.proficiency.fire or monster.proficiency.water or  monster.proficiency.thunder or monster.proficiency.ice or  monster.proficiency.dragon %} 
    <table class="table" >
        <thead>
            <tr class="bg-danger"> 
                <th scope="col" >
                    <h4 class="display-1">Elements:</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-warning">
                <td>
                    {% if monster.proficiency.fire %} 
                    <img src="/static/icon_info/fire.png" width=3% height=auto>{% else %}
                    {% endif %}
                    {% if monster.proficiency.water %} 
                    <img src="/static/icon_info/water.png" width=3% height=auto>{% else %}
                    {% endif %}
                    {% if monster.proficiency.thunder %}
                    <img src="/static/icon_info/thunder.png" width=3% height=auto>{% else %}
                    {% endif %}
                    {% if monster.proficiency.ice %} 
                    <img src="/static/icon_info/ice.png" width=3% height=auto>{% else %}
                    {% endif %}
                    {% if monster.proficiency.dragon %} 
                    <img src="/static/icon_info/dragon.png" width=3% height=auto>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table" >
        <tr class="bg-success"> 
            <th scope="col" >
                <h4 class="display-1">Non Elemental</h4>
            </th>
        </tr>
    </table>
    {% endif %}

    

    <table>
        
    </table>
    
        
    {% if monster.relative.count() == 0 %} 
    {% else %}
    <h5 class="text-center">Related Monsters are:</h5> 
    <nav class="nav nav-pills nav-justified">
        {% for x in monster.relative.all() %}
        <li class="nav-item" >
            <a class="nav-link active" href="{{ url_for('monster', monstername=  x.name) }}"> {{ x.name }}</a>
        </li>
        {% endfor %}
    </nav>
    {% endif %}
    <br>

    <h3 class="text-danger">Damage</h3>
    <table class="table table-bordered">
        <h4 class="text-danger">Weakpoints:</h4>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Area</th>
          </tr>
        </thead>
        <tbody>
            <tr >
              <th scope="row" width="256px"><img src="/static/icon_other/cut.png" width=20% height=auto> (Cut)</th>
              <td ><p class="text-center" >{{monster.weakpoints.cut}}</p></td>
            </tr>
            <tr>
              <th scope="row" width="256px"><img src="/static/icon_other/impact.png" width=20% height=auto> (Impact)</th>
              <td><p class="text-center">{{monster.weakpoints.impact}}</p></td>
            </tr>
            <tr>
              <th scope="row" width="256px"><img src="/static/icon_other/gun.png" width=20% height=auto> (Projectile)</th>
              <td> <p class="text-center">{{monster.weakpoints.projectile}}</p></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <h4 class="text-danger">Weakness:</h4>
    </table>

    <table class="table table-bordered">
        <h4 class="text-danger">Trap:</h4>
    </table>

    <table class="table table-bordered">
        <tr>
            <td width="256px">
                <img src="{{url_for('static', filename= monster.name.replace(' ', '_') + '.png')}}" class="img-thumbnail">
            </td>
        </tr>
    </table>   
{% endblock %}

